# Load Data from Database Using SQL Exercise

#

In [2]:
#library to use dataframes
import pandas as pd

#library to connect & interact with databases
from sqlalchemy import create_engine, inspect

### Connect to Database

In [3]:
#set the database file location to a variable
db_file = r'Datasets/database.sqlite/database.sqlite'

# set the connection to SQLite database in a variable
engine = create_engine(f"sqlite:///{db_file}")

In [4]:
#get a list of all the tables in the database
engine.table_names()

['BoardGames',
 'bgg.ldaOut.top.documents',
 'bgg.ldaOut.top.terms',
 'bgg.ldaOut.topics',
 'bgg.topics']

In [5]:
#get number of tables in the database
len(engine.table_names())

5

In [6]:
tables=engine.table_names()

In [16]:
print(tables)

['BoardGames', 'bgg.ldaOut.top.documents', 'bgg.ldaOut.top.terms', 'bgg.ldaOut.topics', 'bgg.topics']

In [7]:
current_table = tables[0]
current_table

'BoardGames'

In [39]:
count = 0
while (count < len(engine.table_names())):
    #get the row from the current table being read
    sql = f"SELECT * FROM [{tables[count]}];"
    table_df=pd.read_sql(sql, engine)
    print('Table ', tables[count], ' dimensions are', table_df.shape, sep=',')
#    print(tables[count] ' dimensions are ' table_df.shape)
    count = count + 1

Table ,BoardGames, dimensions are,(90400, 81)
Table ,bgg.ldaOut.top.documents, dimensions are,(288, 4)
Table ,bgg.ldaOut.top.terms, dimensions are,(250, 4)
Table ,bgg.ldaOut.topics, dimensions are,(29229, 2)
Table ,bgg.topics, dimensions are,(29313, 74)

In [20]:
#get all the rows from the "test" table in the database
sql = f"SELECT * FROM [{tables[0]}];"

In [21]:
table_df=pd.read_sql(sql, engine)

In [23]:
table_df.shape

(90400, 81)

In [ ]:
#look at the schema of elements in a database
inspector = inspect(engine)

In [ ]:
# get the fields (columns) and their attributes for the table called "test"
#this is a list where each item is a field(column)
print(inspector.get_columns('Boardgames'))

In [ ]:
#set the table column information to a variable
fields = inspector.get_columns('Boardgames')

In [ ]:
#put the information into a dataframe for readability
field_names = pd.DataFrame.from_dict(fields)
field_names

### Collect Data

In many situations, the easiest method of data collection from a database is to get all the rows from a table, then filter the data in Python. However, in some cases (especially when there are millions of rows) it is better to query the database with a specific condition (for example, to get all the rows in a table where the customers live in the state of Maryland) to reduce the load when the data is read in-memory to Jupyter Notebooks. The `pd.read_sql()` function will send a SQL query statement to the database, then return the information collected and put it into a pandas dataframe.

Different database applications may have their own "dialect" of SQL but the general structure is consistent across all styles. Use this **[cheat sheet](http://www.sqltutorial.org/sql-cheat-sheet/)** to learn more SQL statement commands.

In [ ]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM test;"

#the read_sql function takes in the SQL statement for the information requested and the engine (to connect to database)
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

In [ ]:
#query with conditional
#get all the rows where the student grade is a 76, 77, or 78
sql = 'SELECT * FROM test WHERE Grades IN (76,77,78)'

grades_df = pd.read_sql(sql, engine)
grades_df